/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

/* NAVBAR SEARCH */
.navbar .form-control {
  border: 2px solid #000;
  border-radius: 30px;
  padding: 10px 18px;
  font-weight: 600;
  box-shadow: none;
}

.navbar .form-control:focus {
  border: 2px solid #000;
  outline: none;
  box-shadow: none;
}

/* NAVBAR LINKS */
.navbar-nav .nav-link {
  font-weight: 600;
  color: #111;
  padding: 8px 14px;
  border-radius: 50px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  background: #000;
  color: #fff;
}

/* DROPDOWN */
.dropdown-menu {
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.dropdown-menu a {
  font-weight: 500;
}

/* HERO SECTION */
.hero {
  width: 100%;
  height: 90vh;
  background-image: url("../asset/img/hd_image.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 14px 38px;
  background: #fff;
  color: black;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
}

.hero-btn:hover {
  background:black;
  color: white;
}

#aboutCarousel .carousel-item {
  transition: transform 1s ease-in-out;
  .same-img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}
}




/* BROWSE SECTION */
.browse-section {
  background-color: white;
  padding: 80px 0;
}

.section-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
}
.room-two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.room-box {
  background: rgb(205, 196, 189);
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.room-box img {
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.room-name {
  text-align: center;
  margin-top: 12px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .room-two-grid {
    grid-template-columns: 1fr;
  }
}

.card:hover {
  transform: translateY(-8px);
  transition: 0.3s ease;
}
